preparations/
model/
.idea/
.idea
__pycache__/
data/
*.png

notizen
playground.py
results/
*.ini
/h19_genes.bed
ClusterTad/
OnTAD/
RandomSearch/
TADLib/
current_best/
untitled_project/
.RData
.RDataTmp
.Rhistory
.hitad/
HiCDB.R
Rao2014.txt
eigenvectorInformation.txt
matrices/
meta.txt
spectralTAD.R
